*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display','Poppins', 'Source Sans Pro', sans-serif;
}

.header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px 30px;
}

form{
    margin: 50px;
}

.cardContainer{
    display: flex;
    gap: 20px;
}

.card{
    background-color: rgb(81, 81, 173);
    max-width:  100px;
    max-height: 150px;
    color: aliceblue;
}

button.Refresh{
    margin-bottom: 50px;
    margin-left: 30px;
    padding: 10px;
}